<style>
    li {
        padding-bottom: 1rem;
    }
</style>
<div class="cart">
    <p $if="!products.length"><i>Please add some products to cart.</i></p>
    <ul>
        <li $for="product of products" key:="product.id">
            {{ product.title }} - {{ product.price }}{{ $global.currency }} x {{ product.quantity }}
        </li>
    </ul>
    <p>Total: {{ total }}{{ $global.currency }}</p>
    <p><button disabled:="!products.length" @click="checkout(products)">Checkout</button></p>
    <p $if="checkoutStatus" style:="'color:'+(checkoutStatus!='successful'?'red':'green')">Checkout
        {{ checkoutStatus }}.</p>
</div>