body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #5c2d91;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code {
    padding: 1rem;
    border-radius: .5rem;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
    font-size: 30px;
    font-weight: bolder;
    background: #272822;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

#appRoot {
    width: 100%;
    max-width: 640px;
}