
html, body {
  padding: 0;
  margin: 0;
}

#app{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.center-card{
  padding: 1rem;
  text-align: center;
}

.footer-switch{
  margin: auto;
  padding-top: 1rem;
}

.row {
  display: flex;
  justify-content: center;
}